<header>
  <div class="container">
    <a routerLink="/" class="logo">{{ title }}</a>
    <nav>
      <ul *ngIf="user$ | async as user">
        <li *ngIf="user.name; else anonymous" class="menu-container">
          <a routerLink="/dashboard">{{ user.name }}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <ng-template #anonymous>
          <li *ngIf="!user.token">
            <a routerLink="/login">Login</a>
          </li>
        </ng-template>
        <li>
          <a routerLink="cart-page">
            Cart
            <span *ngIf="cartQuantity$ | async as cartQuantity">{{
              cartQuantity
            }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
