$bounceOffColor: brown;

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffffea;
  z-index: 10000;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

img {
  border-bottom: 10px solid $bounceOffColor;
}

h1 {
  color: $bounceOffColor;
  text-transform: lowercase;
}
